* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    /*background-image: url(../img/page.jpg);*/
    background: #212529;
    background-repeat: repeat;
    color: #fff;
}

/*.navbar{
    opacity: 0.9;
}*/

#logo {
    width: 90px;
    margin-left: 50px;
}

#cars {
    width: 25%;
}

#rojo {
    background: #c51816;
}

.texto-pa {
    background: #008000;
    padding: 10px;
    width: 100%;
    height: 10vh;
    text-align: center;
    color: #fff;
    /*opacity: 0.9;*/
}

h2 {
    font-weight: 300;
}

h3 {
    -webkit-text-stroke: 1px black;
}

.center {
    max-width: 1100px;
    width: 90%;
    overflow: hidden;
    margin: auto;
    text-align: center;
}


/*mapa google*/
.caja-mapa{

    background-color: #000;
    width: 100%;

}

.caja-mapa iframe{
    width: 100%;
    padding: 2rem;
}

.espacio {
    padding: 30px 0 60px 0;
}

.espacio h2 {
    text-align: center;
    padding: 30px;
}

.espacio p {
    text-align: justify;
}

#imagen-efecto {
    height: 50vh;
    background-image: url(../img/mecanico2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    /*Cambiar imagen (?) */
}

#imagen-efecto h2 {
    display: flex;
    height: inherit;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 400;
}

.imagen-efecto {
    height: 80vh;
    background-image: url(../img/mecanico2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.imagen-efecto h2 {
    display: flex;
    height: inherit;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 400;
}

.h2{

    display: flex;
    height: inherit;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 300;
    padding-top: 15px;
}


.texto {
    height: 190px;
}

.texto h2 {
    text-align: center;
    display: flex;
    height: inherit;
    justify-content: center;
    align-items: center;
}

.peque {
    padding: 0 60px;
}

.boton-arriba {
    width: 50px;
    height: 50px;
    background: #008000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    position: fixed;
    bottom: 15px;
    left: 50px;
    cursor: pointer;
    border: 4px solid transparent;
    transition: all 300ms ease;
}

.boton-arriba a {
    color: #fff;
}

.boton-arriba:hover {
    transform: scale(1.1);
    border-color: rgba(0, 0, 0, 0.1);
}

/* formularion Contacto*/

.caja-form {
    position: absolute;
    margin: 30px 60px 0 0;
    /*max-width: 400px;*/
    width: 550px;
    padding: 16px;
    background-color: white;
    right: 0;
    color: #000000;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.btn {
    width: 100%;
    background-color: #008000;
}

#footer {
    width: 100%;
    height: 12vh;
    background-color: #212529;
    color: white;
    text-align: center;
    font-size: 36px;
}

#iconos {
    padding-top: 10PX;
}

.carousel-inner img {
    width: 100%;
    height: 500px;
}

@media only screen and (max-device-width: 768px) {
    .caja-form {
        margin: 25px 0 0 0;
        /*max-width: 400px;*/
        width: 100%;
        background-color: white;
    }
    .carousel-inner img {
        width: 100%;
        height: 300px;
    }
}

/* Carrusel
.content-all{
    width: 210px;
    margin: auto;
    perspective: 800px;
    position: relative;
    margin-top: 50px;
}

.content-carrousel{
    width: 100%;
    position: absolute;
    animation: rotar 30s infinite linear;
    transform-style: preserve-3d;
}

.content-carrousel:hover{
    animation-play-state: paused;
    cursor: pointer;
}


.content-carrousel figure{
    width: 100%;
    height: 180px;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 0px 20px 0px black;
    transition: all 300ms;
    
}

.content-carrousel figure:hover{
    box-shadow: 0px 0px 0px 0px black;
    transition: all 300ms;
}

.content-carrousel figure:nth-child(1){transform: rotateY(0deg) translateZ(300px);}
.content-carrousel figure:nth-child(2){transform: rotateY(40deg) translateZ(300px);}
.content-carrousel figure:nth-child(3){transform: rotateY(80deg) translateZ(300px);}
.content-carrousel figure:nth-child(4){transform: rotateY(120deg) translateZ(300px);}
.content-carrousel figure:nth-child(5){transform: rotateY(160deg) translateZ(300px);}
.content-carrousel figure:nth-child(6){transform: rotateY(200deg) translateZ(300px);}
.content-carrousel figure:nth-child(7){transform: rotateY(240deg) translateZ(300px);}
.content-carrousel figure:nth-child(8){transform: rotateY(280deg) translateZ(300px);}
.content-carrousel figure:nth-child(9){transform: rotateY(320deg) translateZ(300px);}
.content-carrousel figure:nth-child(10){transform: rotateY(360deg) translateZ(300px);}

.content-carrousel img{
    width: 100%;
    transition: all 300ms;
}

.content-carrousel img:hover{
    transform: scale(1.2);
    transition: all 300ms;
}


@keyframes rotar{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}
*/

/* 
@media (max-width: 768px) {

    .content-all{
        width: 180px;
        margin: auto;
        perspective: 1500px;
        position: relative;
        margin-top: 50px;
    }

}*/

/*  F
@media (max-width: 600px) {

    .content-all{
        width:20%;
        margin: auto;
        perspective: 1200px;
        position: relative;
        margin-top: 50px;
    }

    .content-carrousel{
        width: 50%;
        position: absolute;
        animation: rotar 30s infinite linear;
        transform-style: preserve-3d;
    }
    
    
    .content-carrousel figure{
        width: 180%;
        height: 80px;
        overflow: hidden;
        position: absolute;
        box-shadow: 0px 0px 20px 0px black;
        transition: all 300ms;
        
    }

}*/