{% extends 'formulario/base.html'%}

{% block contenido%}

<section id="imagen-efecto">
    <div >
        <h2 class="text-center mx-auto" style="padding-top: 5rem; border-bottom: #fff solid 1px; width: 50%;">
            Listado de servicios y precios
        </h2>
    </div>
</section>


<section class="container">
    <div class="row">
        <div class="col-md-12 producto row" style="border-bottom: 1px solid #fff; padding: 1rem; ">
            <div class="col-md-8">
                <h2>Cambio de aceite</h2>
                <p>breve descripcion</p>
            </div>
            <div class="col-md-4">
                <h2>desde <span style="color: rgb(70, 189, 70); text-shadow: 2px 2px rgb(19, 102, 33);">$10.000</span></h2>
                <p>Duración: 20 minutos</p>
            </div>
            
        </div>

        <!--Producto 2-->
        <div class="col-md-12 producto row" style="border-bottom: 1px solid #fff; padding: 1rem; ">
            <div class="col-md-8">
                <h2>Cambio de aceite</h2>
                <p>breve descripcion</p>
            </div>
            <div class="col-md-4">
                <h2>Precio</h2>
                <p>duracion arregle</p>
            </div>
            
        </div>
        

        

    </div>

</section>
    








{% endblock %}